#! /usr/bin/env bash

OS="$(cat /etc/*-release | grep '^ID' | sed "s/ID=//")"

echo $OS

if [ $OS = debian ]; then
    alias picom='compton'
fi

alias v=vim
alias n=nvim
alias reader="nvim -R"

alias python=python3
alias pip=pip3

alias nzrc="n $HOME/.zshrc"
alias ytdl='youtube-dl -ix --embed-thumbnail --audio-format "mp3"'

alias zathura='devour zathura'
alias feh='devour feh'
alias p='sudo pacman'
alias updatesystem='p -Syu && xmonad --recompile'

export PATH="$HOME/.local/bin/scripts:$PATH"


