#! /usr/bin/env bash

OS="$(cat /etc/*-release | grep '^ID' | sed "s/ID=//")"

if [ $OS = debian ]; then
    alias picom='compton'
fi


alias cls=clear

alias e='doom run'
alias v=vim
alias n=nvim
alias h=hx
alias reader="nvim -RO"

alias emacsd="/usr/bin/emacs --daemon"
alias emacsc="emacsclient -c"

alias python=python3
alias pip=pip3

alias nzrc="n $HOME/.zshrc"
alias ytdl='youtube-dl -ixw --embed-thumbnail --audio-format "mp3"'

alias zz='zathura --fork'
#alias feh='devour feh'
alias p='sudo pacman'
alias updatesystem='p -Syu && xmonad --recompile'

#alias typescript-language-server='tsserver'

alias rl=rlwrap

alias sudo=doas

# lisp interpreters
alias scheme=chez
alias lisp=sbcl
# alias scheme='rlwrap scheme'
alias guile='rlwrap guile'
alias sbcl='rlwrap sbcl'


vlime_dir="$HOME/.local/share/nvim/plugged/vlime/"
start_vlime="$vlime_dir/lisp/start-vlime.lisp"

export EDITOR=nvim
export PATH="$HOME/.local/bin/scripts:$PATH"

