[core]
    pager= "diff-so-fancy" | less -RX
    whitespace= blank-at-eol, tab-in-indent
[user]
    email= 39601699+CristianDG@users.noreply.github.com
    name = CristianDG
[credential]
	helper = store
[diff]
    context= 4
[safe]
	directory = /opt/flutter
[init]
	defaultBranch = dev
